@model VisTuApp.Models.Vistoria

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Vistoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tubulacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tubulacao.NomeTubulacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVistoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVistoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioVistoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioVistoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observação)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observação)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
